.topEnergiserName a:link {
  color: red;
}

.topEnergiserName a:visited {
  color: red;
}
.homepageButtons a:link {
  color: white;
}

.homepageButtons a:visited {
  color: white;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: darkgrey;
}


.logo{
height: 91px;
width: auto;
}


.filterTag {
  color: black;
  text-decoration: none;
}


body{
	background-color: #34A0A4;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #184E77	;
}

.top-div{
	background-color: #76C893;
	height: 60rem;
}

header{
	height: 8rem;
}

h1{
	color: #184E77;
}

.result-thead{
	background-color: #34A0A4;
	color: #184E77;
}

.result-tbody{
	background-color: white;
	color: #184E77;
}

.desc-div{
	background-color: #34A0A4;
	color: #184E77;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.detail-div{
	/* background-color: #34A0A4; */
	color: #184E77;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.generate_btn {
	background-color: red;
	color: white;
	width: 12rem;
}

.res-div{
	background-color: #52B69A;
}

.message {
	color: #3a0ca3;
}

.message:hover {
	background-color: #3f37c9;
}

.set-pointer {
	cursor: pointer;
  }