//breadcrumb
.crumb a:link{
	  color: ED4343 !important;
}

.crumb a:visited{
	  color: ED4343  !important;
}

//footer
.footer {
background: darkgrey;
color:white;
}

.footer a:link{
	  color: white;
text-decoration: none;
}

.footer a:visited{
	  color: white;
text-decoration: none;
}

.footer a:hover{
	  color: #ED4343;
	  text-decoration: underline;
}

//Home page top favourites component

.topEnergiserName a:link {
  color: #ED4343;
  font-size: 1.6em;
}

.topEnergiserName a:visited {
  color: #ED4343;
  font-size: 1.6em;
}

// Home page buttons
.homepageButtons a:link {
  color: white;
text-decoration: none;
}

.homepageButtons a:visited {
  color: white;
   text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #ED4343;
}

/* selected link */
a:active {
  color: darkgrey;
}

//Code your future logo
.logo{
height: 60px;
width: auto;
display: none;
}

//Energise logo
.elogo{
height: 54px;
width: auto;
}

// Tags under search bar on home page
.filterTag {
  color: black;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;

}

// Tags under search bar on home page
.randomListText {
	font-size: 1.6em;
}

//What is an energiser element
.WhatIsAnEnergiser {
	font-size: 1.6em;
}

.top-div{
	background-color: #656d68;
	height: 60rem;
}

.result-thead{
	background-color: darkgrey;
	font-weight: 800;
}

.result-tbody{
	background-color: white;
	color: #184E77;
}

.generate_btn {
	background-color: #ED4343;
	color: white;
}


.primary_btn {
	background-color: #ED4343;
	color: white;
}


.secondary_btn {
	background-color: white;
	color: black;
}

.message {
	color: #3a0ca3;
}

.message:hover {
	background-color: #3f37c9;
}

.set-pointer {
	cursor: pointer;
  }

  .energiserLabel{
	  width: 15rem;
		margin-left: 16rem;
		font-size: 1.5rem;
  }

  .newEnergiserInput {
	width: 25rem;
	height: 2rem;
	margin: 3rem;
	font-size: 1.2rem;
	margin-right: 2rem;
  }

  .addbtn{
	  width: 12rem;
	  font-size: 1.5rem;
	  margin-left: 70%;
  }

    .energiseTextarea {
		width: 25rem;
		height: 10rem;
		margin: 3rem;
		font-size: 1.2rem;
		margin-right: 2rem;
  }

  .formfield * {
	vertical-align: middle;
  }

 @media (min-width: 576px) {
.topEnergiserName a:link {
  font-size: 1.5em;
}

.topEnergiserName a:visited {
  font-size: 1.5em;
}

.WhatIsAnEnergiser {
	font-size: 1.5em;
}

.randomListText {
	font-size: 1.5em;
}
}

  @media (min-width: 768px) {
.topEnergiserName a:link {
  font-size: 1.2em;
}

.logo {
  display: flex;
}

.topEnergiserName a:visited {
  font-size: 1.2em;
}

.WhatIsAnEnergiser {
	font-size: 1.2em;
}

.randomListText {
	font-size: 1.2em;
}

  }
.table-height{
	height: 70vh;	
	overflow: auto;
	font-family: 'Raleway', sans-serif;
}

.FaThumbsUp {
	color: black;
  }
  .FaThumbsUp:hover {
	color: green;
  }

  .undeline{
		text-decoration: underline;
		text-decoration-color: red;
		text-decoration-thickness: 4px;
  }
  .font{
	font-family: 'Raleway', sans-serif;
  }

  .displayedTime h1{
	  font-size: 6em;
	  letter-spacing: 0.1em;
	  width: 5em;
	  padding-left: 0.6em;
	}