body{
	background-color: #34A0A4;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #184E77	;
}

.top-div{
	background-color: #76C893;
	height: 60rem;
}

header{
	height: 8rem;
}

h1{
	color: #184E77;
}

.result-thead{
	background-color: #34A0A4;
	color: #184E77;
}

.result-tbody{
	background-color: #34A0A4;
	color: #184E77;
}

.desc-div{
	background-color: #34A0A4;
	color: #184E77;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.detail-div{
	/* background-color: #34A0A4; */
	color: #184E77;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.generate_btn{
	margin-left: 40rem;
	background-color: #1E6091;
	color: #D9ED92;
	width: 12rem;
}

.res-div{
	background-color: #52B69A;
}

.logo {
	width: 100px;
}

.message {
	color: #3a0ca3;
}

.message:hover {
	background-color: #3f37c9;
}

.set-pointer {
	cursor: pointer;
  }